.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover,.woocommerce div.product form.cart .button:hover, .woocommerce-page div.product form.cart .button:hover, .woocommerce-page #main a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #main input.button:hover, .woocommerce button.button.alt:hover,
.button:hover,
.btn:hover,
.more-link:hover,
.more_link:hover,
.side-nav .search-form .search-submit:hover,
.site-footer .search-form .search-submit:hover,
.infinite-scroll #infinite-handle span:hover,
.widgetized-section .inner-wrap .portfolio-view_all-link .btn:hover  {
    color: #4176FB;
    border-color: #4176FB;
}

.btn-primary, .side-nav .search-form .search-submit, .site-footer .search-form .search-submit {
    color: #4176FB;
    border-color: #4176FB;
}

input:focus, textarea:focus {
    border-color: #4176FB;
}
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
    color: #4176FB;
    border-color: #4176FB;
}
a {
    color: #4176FB;
}
a:hover {
    color: #134ddd;
}
.navbar-nav > li > ul:before {
    border-bottom-color: #4176FB;
}

@media (min-width: 1025px) {
    .navbar-nav ul {
        border-top-color: #4176FB;
    }
}


.navbar .wpz-button a {
    background-color: #4176FB;
}

.woocommerce-pagination .current, .woocommerce-pagination .page-numbers:hover,
.woocommerce-pagination .page-numbers.current, .woocommerce-pagination .page-numbers:hover, .paging-navigation .page-numbers.current, .paging-navigation .page-numbers:hover {
    color: #4176FB !important;
}

.slides > li h3 a:hover:after {
    border-color: #4176FB;
}

.slides > li .slide_button a:hover  {
    border-color: #4176FB;
    background: #4176FB;
    color: #fff;
}

.featured_page_wrap--with-background .btn:hover {
    border-color: #4176FB;
    color: #4176FB
}

.fw-page-builder-content .feature-posts-list h3 a:hover,
.widgetized-section .feature-posts-list h3 a:hover {
    color: #4176FB;
}

.widgetized-section .featured-products .price:hover {
    color: #4176FB;
    border-color: #4176FB;
}

.portfolio-view_all-link .btn:hover {
    border-color: #4176FB;
    color: #4176FB;
}

.portfolio-archive-taxonomies a:hover {
    border-color: #4176FB;
    color: #4176FB;
}

.clean_skin_wrap_post .portfolio_sub_category:hover,
.clean_skin_wrap_post a:hover {
    color: #4176FB;
}

.section-footer .zoom-instagram-widget a.ig-b-v-24:hover {
    color: #4176FB !important;
}

.entry-thumbnail-popover-content h3:hover,
.entry-thumbnail-popover-content span:hover {
    color: #4176FB;
}

.entry-thumbnail-popover-content .btn:hover {
    border-color: #4176FB;
}

.entry-title a:hover {
    color: #4176FB;
}

.entry-meta a:hover {
    color: #4176FB;
}

.page .has-post-cover .entry-header .entry-meta a:hover,
.single .has-post-cover .entry-header .entry-meta a:hover {
    color: #4176FB;
}

.page .post_author a:hover,
.single .post_author a:hover {
    color: #4176FB;
}

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a:hover {
    color: #4176FB;
}

.comment-author .fn a:hover { color: #4176FB }

.site-info a:hover { color: #4176FB }

.search-form input:focus {
    color: #4176FB;
    border-color: #4176FB;
}

.woocommerce-page #content input.button:hover{ color: #4176FB; border-color: #4176FB; }
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price { color: #4176FB; }
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price { color: #4176FB; }

.woocommerce button.button.alt:hover { border-color: #4176FB; color: #4176FB;  }

.woocommerce .quantity .minus:hover { background: #4176FB !important; color: #fff !important; }

.woocommerce-pagination .page-numbers:hover { color: #4176FB !important }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range { background-color: #4176FB; }
.woocommerce-cart table.cart td.actions .coupon .input-text:focus { border-color: #4176FB; }
.woocommerce-message::before { color: #4176FB; }

.fw_theme_bg_color_1 input[type=submit]:hover {
    border: 1px solid #4176FB;
    color: #4176FB;
}

.fw-page-builder-content .fw_theme_bg_color_1 .feature-posts-list h3 a:hover { color: #4176FB; }

.fw_theme_bg_color_2 {
    background-color: #4176FB;
    color: #fff;
}

.fw_theme_bg_color_2 input[type=submit]:hover,
.fw-section-image .btn:hover {
    color: #4176FB;
}

.wpz-btn:hover,
.wpz-btn:focus,
.fw-section-image .wpz-btn:hover,
.fw-section-image .wpz-btn:focus,
.fw-pricing-container .wpz-btn:hover {
    color: #4176FB;
    border-color: #4176FB;
}

.overlay_color_2{
    background-color: #4176FB;
}