#wpzoom_single_post_video_settings label,
#wpzoom_portfolio_video_settings label,
#wpzoom_slideshow_video_settings label {
    margin-bottom: 7px;
    display: block;
}

#wpzoom_single_post_video_settings .description,
#wpzoom_portfolio_video_settings .description,
#wpzoom_slideshow_video_settings .description {
    padding: 3px 0;
}

#wpzoom_single_post_video_settings .radio-switcher input[type=radio] + label,
#wpzoom_portfolio_video_settings .radio-switcher input[type=radio] + label,
#wpzoom_slideshow_video_settings .radio-switcher input[type=radio] + label {
    font-weight: 500;
    padding: 4px 10px 5px 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 21px;
}

#wpzoom_single_post_video_settings .radio-switcher input[type=radio]:checked + label,
#wpzoom_portfolio_video_settings .radio-switcher input[type=radio]:checked + label,
#wpzoom_slideshow_video_settings .radio-switcher input[type=radio]:checked + label {
    background: #eee;
    color: #000;
    border-radius: 3px;
}

#wpzoom_single_post_video_settings .radio-switcher label:before,
#wpzoom_portfolio_video_settings .radio-switcher label:before,
#wpzoom_slideshow_video_settings .radio-switcher label:before {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    font: 400 22px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
    color: #1c98cc;
    opacity: .7;
}

#wpzoom_single_post_video_settings .radio-switcher label.label_vid_emb:before ,
#wpzoom_portfolio_video_settings .radio-switcher label.label_vid_emb:before ,
#wpzoom_slideshow_video_settings .radio-switcher label.label_vid_emb:before {
    content: "\f475";
}

#wpzoom_single_post_video_settings .radio-switcher label.label_vid_self:before ,
#wpzoom_portfolio_video_settings .radio-switcher label.label_vid_self:before ,
#wpzoom_slideshow_video_settings .radio-switcher label.label_vid_self:before {
    content: "\f490";
}

#wpzoom_single_post_video_settings .radio-switcher label.label_vid_url i ,
#wpzoom_portfolio_video_settings .radio-switcher label.label_vid_url i ,
#wpzoom_slideshow_video_settings .radio-switcher label.label_vid_url i {
    opacity: .7;
}

#wpzoom_single_post_video_settings .radio-switcher label.label_vid_url i ,
#wpzoom_portfolio_video_settings .radio-switcher label.label_vid_url i ,
#wpzoom_slideshow_video_settings .radio-switcher label.label_vid_url i {
    opacity: .7;
}


#wpzoom_single_post_video_settings .radio-switcher input[type=radio] + label:hover:before,
#wpzoom_portfolio_video_settings .radio-switcher input[type=radio] + label:hover:before,
#wpzoom_slideshow_video_settings .radio-switcher input[type=radio] + label:hover:before,
#wpzoom_portfolio_video_settings .radio-switcher input[type=radio]:checked + label:before,
#wpzoom_slideshow_video_settings .radio-switcher input[type=radio]:checked + label:before {
    opacity: 1;
}

#wpzoom_single_post_video_settings .radio-switcher input[type=radio] + label:hover i,
#wpzoom_portfolio_video_settings .radio-switcher input[type=radio] + label:hover i,
#wpzoom_slideshow_video_settings .radio-switcher input[type=radio] + label:hover i,
#wpzoom_slideshow_video_settings .radio-switcher input[type=radio]:checked + label i,
#wpzoom_portfolio_video_settings .radio-switcher input[type=radio]:checked + label i {
    opacity: 1;
}

.column-featured_thumb  {
    max-width: 360px;
    width: 360px;
}

.column-featured_thumb img {
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 800px) {

    .column-featured_thumb  {
        max-width: 160px;
        width: 160px;
    }

}



@media screen and (max-width: 782px) {
.wp-list-table tr:not(.inline-edit-row):not(.no-items).type-slider td:not(.check-column) {
    display: table-cell;
}
}