

/* Single Page Widget */
.featured_page_wrap {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.featured_page_inner_wrap {
    padding-top: 10px;
    padding-bottom: 50px;
}

.featured_page_wrap--with-background .featured_page_inner_wrap {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0);
    color: #fff;
    min-height: 450px;
    text-align: center;
}

.featured_page_wrap--with-background .section-title {
    color: rgba(255, 255, 255, .9);
}

.featured_page_wrap--with-background .section-title a {
    color: rgba(255, 255, 255, .9);
}

.featured_page_wrap--with-background .section-title a:hover {
    color: #fff;
    text-decoration: none;
}

.featured_page_wrap--with-background .section-title:after {
    background: none;
    margin: 20px 0;
}


.featured_page_wrap--with-background  .btn {
    color: #fff;
    border-color: #fff;
}

.featured_page_wrap--with-background .btn:hover {
    border-color: $primary_color;
    color: $primary_color
}

.widgetized-section .featured_page_content {
    overflow: hidden
}

.widgetized-section .featured_page_content .post-content {
    max-width: 70%;
    margin: 0 auto;
}

.widgetized-section .text-columns-2 .post-content {
    max-width: 100%;
}

.widgetized-section .featured_page_content .post-video {
    width: 100%;
    float: none;
}

.widgetized-section .featured_page_content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.widgetized-section .featured_page_wrap.text-columns-2 .post-content {
    line-height: 1.8;
    column-count: 2;
    column-gap: 50px;
}

.wpzoom-singlepage .view_all-link {
    text-align: center;
    margin: 30px 0 0;
}
