
.widget { margin-bottom: 40px; }

.widget .title {
    margin: 0 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font__headings;
    font-weight: bold;
}

.textwidget img {
    max-width: 100%;
    height: auto;
}

.widget ul {
    clear: both;
    margin: 0;
    padding: 0;
}

.widget ul li { list-style-type: none; }

.widget ul ul {
    margin: 0;
    padding: 0;
    border-top: none;
}

.widget ul ul li { border: none }



/*--------------------------------------------------------------
# Portfolio Carousel
--------------------------------------------------------------*/
@import "portfolio-scroller";

/*--------------------------------------------------------------
# Single Page
--------------------------------------------------------------*/
@import "single-page";

/*--------------------------------------------------------------
# WooCommerce Featured Products
--------------------------------------------------------------*/
@import "woo-featured-products";

/*--------------------------------------------------------------
# Recent Posts
--------------------------------------------------------------*/
@import "recent-posts";

/*--------------------------------------------------------------
# Instagram
--------------------------------------------------------------*/
@import "instagram";

/*--------------------------------------------------------------
# Twitter
--------------------------------------------------------------*/
@import "twitter";

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
@import "search";

/*--------------------------------------------------------------
# Native widgets styling
--------------------------------------------------------------*/
@import "wp-default";

/*--------------------------------------------------------------
# 3rd Party Widgets
--------------------------------------------------------------*/
@import "3rd";