
/*  WooCommerce Featured Products */

.featured-products {
    font-size: 0;
}

.wpzoom-featured-products {

    text-align: center;

    .featured-products li {
        position: relative;
        display: inline-block;
        width: 23%;
        margin-right: 2.6666%;
        margin-bottom: 40px;
        list-style-type: none;
        vertical-align: top;
    }

    li:hover .shop_item_details {
        opacity: 1
    }

    li:nth-child(4n+4) {
        margin-right: 0
    }

    li .shop_item_details {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
    }

    li h3 {
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 1.3;
        color: #fff;
        position: absolute;
        top: 10%;
        left: 10%;
        right: 5%;
        font-weight: 600;
        text-align: left;
    }

    li h3:hover {
        opacity: 0.8
    }

    li .post-thumb {
        margin: 0
    }

    li .post-thumb:hover img {
        opacity: 0.8
    }

    .price {
        position: absolute;
        bottom: 10%;
        right: 5%;
        color: #fff;
        display: block;
        font-size: 16px;
        font-family: $font__headings;
        border: 2px solid rgba(255, 255, 255, 0.6);
        padding: 8px 16px;
    }

    .price:empty {
        border: none
    }

    .price:hover {
        color: $primary_color;
        border-color: $primary_color;
    }

    .price del {
        opacity: 0.6
    }

}