.widget_search label {
  display: inline;
}

.textwidget img {
  max-width: 100%;
  height: auto;
}

/* RSS Widget */
.widget_rss li { margin: 0 0 20px; }
.widget_rss .rsswidget { font-weight: bold; margin: 0 0 7px; font-size: 18px; }
.widget_rss .rss-date { display: block; font-size: 14px; margin: 5px 0; color: #999; }
.widget_rss .rssSummary { font-size: 14px; margin: 0 0 5px; }

/* Calendar widget */
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; font-weight:bold;  font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #EFEEEE; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #E8E8E8; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

