.last {
    clear: right;
    margin-right: 0 !important;
}


/* Fix WP 4.9.5 bug with caption with all themes */
.entry .wp-caption,
.post_content .wp-caption,
.post-single .wp-caption,
.post-content .wp-caption,
.entry-content .wp-caption {
    max-width: 100%;
}