.fw-option-type-color-palette .predefined,
.fw-option-type-color-palette .predefined .fw-option-type-radio,
.fw-option-type-color-palette .predefined .fw-option-type-radio div,
.fw-option-type-color-palette .custom {
    display: inline-block;
}

.fw-option-type-color-palette .predefined {
    vertical-align: middle;
}

.fw-option-type-color-palette .predefined .fw-option-type-radio div {
    margin-left: 7px;
}

.fw-option-type-color-palette .predefined .fw-option-type-radio div:first-child {
    margin-left: inherit;
}

.fw-option-type-color-palette .custom input.fw-option-type-text{
    width: 100px;
    margin-left: 10px;
}

.fw-option-type-color-palette .custom input.fw-option-type-text:first-child{
    margin: 0;
}


.fw-backend-option-input-type-color-palette .fw-option-help-in-input {
    top: 4px !important;
}

.fw-option-type-color-palette .predefined .fw-option.fw-option-type-radio  label {
    position: relative;
    top: -4px;
}

.fw-option-type-color-palette input[type=radio] {
    margin-right: 10px;
    position: relative;
    left: 5px;
    top: 7px;
    visibility: hidden;
}

.fw-option-type-color-palette .predefined .fw-option.fw-option-type-radio div:last-child input[type=radio] {
    visibility: visible;
}

.fw-option-type-color-palette .fw-palette {
    display: block;
    padding: 2px;
    border-radius: 2px;
    position:absolute;
    z-index: 1;

}

.fw-option-type-color-palette .fw-palette.fw-palette-border,
.fw-option-type-color-palette .fw-palette.fw-palette-border:hover{
    border: 3px solid #64bd1f;
    top: 1px;
}

.fw-option-type-color-palette .fw-palette {
    border: 3px solid transparent;
    top: 1px;
}

.fw-option-type-color-palette .fw-palette .fw-palette-border-white{
    border: 1px solid #e8e8e8;
    width: 16px;
    height: 16px;
}

.fw-option-type-color-palette .fw-palette:hover {
    border: 3px solid #dddddd;
    top: 1px;
}

.fw-option-type-color-palette .fw-palette-inner{
    display: block;
    width: 18px;
    height: 18px;
}

.fw-backend-option-design-default > .fw-backend-option-input.fw-backend-option-input-type-color-palette.width-type-fixed > .fw-inner{
    width:auto;
}

.fw-option-type-color-palette .predefined{
    margin-top: -4px;
}

.fw-force-xs .fw-option-type-multi-picker .fw-backend-option-design-default{
    padding-left: 0;
    padding-right: 0;
}

.fw-force-xs .fw-option-type-color-palette .predefined .fw-option-type-radio div {
    margin-left: 3px;
}






.fw-checkbox-float-left div{
    float: left;
    margin-right: 15px;
}
.fw-backend-options-group.border-bottom-none, .border-bottom-none{
    border-bottom: none;
}
#fw-backend-options-group-padding_group .fw-backend-option{
    display: inline-block;
}
#fw-backend-options-group-padding_group .fw-option-width-short {
    width: 40px  !important;
}
#fw-backend-options-group-padding_group .fw-backend-option-type-html {
    float: left;
    padding-right: 0;
    width: 14%;
}
#fw-backend-options-group-padding_group .fw-backend-option-desc {
    margin-left: 0;
}
#fw-backend-options-group-padding_group .fw-backend-option.fw-backend-option-type-short-text{
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 15px;
}
#fw-option-general_products_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-option-general_page_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-edit-options-modal-call_to_action_boxed-fw-call-to-action-boxed-bg_opacity,
#fw-edit-options-modal-image-type-picker-fw-imagebox-1-image-box-bg-bg-on-bg-opacity,
#fw-edit-options-modal-background_options-video-overlay_options-yes-overlay_opacity_video,
#fw-option-footer_settings-footer_bg-image-overlay_options-yes-overlay_opacity_image,
#fw-option-footer_settings-show_menu_bar-yes-menu_bar_bg-image-overlay_options-yes-overlay_opacity_image,
#fw-option-footer_settings-show_footer_widgets-yes-footer_widgets_bg-image-overlay_options-yes-overlay_opacity_image,
#fw-option-header_settings-enable_absolute_header-fw-absolute-header-absolute_opacity,
#fw-edit-options-modal-background_options-image-overlay_options-yes-overlay_opacity_image,
#fw-option-general_posts_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-option-general_portfolio_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image,
#fw-option-general_events_header-posts_header_overlay_options-yes-posts_header_overlay_opacity_image
{
    width: 280px;
}
@media(max-width:768px){
    /* responsive for column options */
    #fw-backend-options-group-padding_group .fw-backend-option-type-html {
        float: left;
        padding-right: 0;
        width: 100%;
    }
    #fw-backend-options-group-padding_group .fw-backend-option.fw-backend-option-type-short-text{
        padding-left: 26px;
    }
}
#fw-backend-option-fw-option-color_settings-color_1,
#fw-backend-option-fw-option-color_settings-color_2,
#fw-backend-option-fw-option-color_settings-color_3,
#fw-backend-option-fw-option-color_settings-color_4,
#fw-backend-option-fw-option-website_backgroud-website_bg_color
{
    padding-bottom: 0;
}
.fw-section-background .fw-backend-option-design-default > .fw-backend-option-input.width-type-fixed.fw-backend-option-input-type-background-image > .fw-inner {
    width: 92px;
}