.list-table-checkbox-wrapper .dashicons-star-empty:hover::before{
     content: "\f155";
 }
.list-table-checkbox-wrapper .dashicons-star-empty.active:hover::before{
    content: "\f154";
}
.list-table-checkbox-wrapper .dashicons-star-filled.active:hover::before{
    content: "\f155";
}
.list-table-checkbox-wrapper .dashicons-star-filled:hover::before{
    content: "\f154";
}

.list-table-checkbox-wrapper .list-table-checkbox{
    display: none;
}