// Color themes

$primary_color: #0bb4aa !default;
$blue_color: #4176FB !default;
$brown_color: #d19731 !default;
$red_color: #e1051e !default;
$black_color: #101010 !default;
$gray_color: #727477 !default;
// $primary_color: #33d085 !default;

$dark_color: #101010 !default;

$color__background-body: #fff !default;

// Footer Background
$color__background-footer: $dark_color !default;

// Buttons
$color__background-button: #000 !default;
$color__background-button-hover: $primary_color !default;

// Buttons in Footer
$color__background-button-footer: #61656e !default;
$color__background-button-footer-hover: #61656e !default;

$color__button: #fff;
$color__button-hover: #fff;

// Misc.
$color__text-screen: #444444;
$color__text-input: #000;
$color__link: $primary_color !default;

$color__link-visited: $primary_color;
$color__link-hover: #076c65;

$color__link-header: #222;
$color__link-header-hover: #fff;


$color__link-title: #222;
$color__link-title-hover: #46586A;

$color__border-button: #000;
$color__border-button-hover: transparent;
$color__border-input: #e2e2e2;
$color__border-input-focus: #676c71;
$color__border-abbr: #666;
$color__border: #f1f2f2;

$color__background-button-infinite-hover: $primary_color !default;

$color__background-screen: #f1f1f1;
$color__background-hr: #eee;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
