$font__main: 'Libre Franklin', sans-serif;
$font__headings: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


// font-family: 'Nunito', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Muli', sans-serif;