
/*********************************************************************************************

4. Featured Slider

*********************************************************************************************/

/* Effect used for #scroll-to-content */
@-webkit-keyframes pulsate {
    0% { opacity: 0.5 }
    50% { opacity: 1 }
    100% { opacity: 0.3 }
}
@keyframes pulsate {
    0% { opacity: 0.5 }
    50% { opacity: 1 }
    100% { opacity: 0.3 }
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4); }
    20% { -webkit-transform: scaleY(1); }
}

@keyframes stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
    20% { transform: scaleY(1); -webkit-transform: scaleY(1); }
}



#slider {
    margin: 0;
    overflow: hidden;
    position: relative;
    background: $dark_color;
    z-index: 98;
}
.empty-slider {  padding: 160px 30px 40px; color: #fff; background: #111; }
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none }
.slides, .flex-control-nav, .flex-direction-nav { list-style: none; margin: 0; padding: 0; }
.flexslider { margin: 0; padding: 0; }

#slider .slides { min-height: 500px; height: 800px; height: 100vh; overflow: hidden; }

.slides > li {
    -webkit-backface-visibility: hidden;
    display: none;
}

#slider .slides > li {
    position: relative;
    overflow: hidden;
    height: 800px;
    height: 100vh;
    min-height: 500px;
    max-height: 2000px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.slides > li .li-wrap {
    position: relative;
    top: 50%;
    max-width: 88%;
    margin: 0 auto;
    -webkit-transform: translate(0, -60%);
    -ms-transform: translate(0, -60%);
    -o-transform: translate(0, -60%);
    transform: translate(0, -60%);
    text-align: center;
}

.slides > li .li-wrap.text-align-left .excerpt {
    text-align: left;
}

.slides > li .li-wrap.text-align-right .excerpt {
    text-align: right;
}

#slider .display-none{
    display: none;
}


#slider .is-vimeo-pro-slide iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: #000;
}


/***********************************************************************************

Animations

************************************************************************************/

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/* Pulse */

.pulse {
    -webkit-animation: pulse ease infinite;
    animation: pulse ease infinite;
}

@-webkit-keyframes pulse{from{-webkit-transform:scale(.95)}50%{-webkit-transform:scale(1)}to{-webkit-transform:scale(.95)}}
@-moz-keyframes pulse{from{-moz-transform:scale(.95)}50%{-moz-transform:scale(1)}to{-moz-transform:scale(.95)}}
@keyframes pulse{from{transform:scale(.95)}50%{transform:scale(1)}to{transform:scale(.95)}}


.full-noslider  .entry-cover .portfolio-popup-video {
    display: none;
}

.full-noslider .entry-cover.cover-fullheight .portfolio-popup-video {
    display: block;
}


.portfolio-popup-video, .slides .popup-video {
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.8);
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px 0 0;
    line-height: 66px;
    padding-left: 13px;
    position: relative;
    outline: none;
    transition: all .2s ease;
    opacity: .9;
}

.slides .popup-video:hover {
    opacity: 1;
    border: 2px solid #fff;
}

.portfolio-popup-video:after,
.slides .popup-video:after {
    font: normal 44px/25px 'dashicons';
    display: inline-block;
    margin: 0 8px 0 0;
    content: "\f522";
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}


.portfolio-popup-video:after  {
    font: normal 35px/15px 'dashicons';
    margin: 0 8px 0 0;
 }

.portfolio-popup-video.popup_image_insp {
    border: none;
    padding: 0;
    top: 47%;
}

.portfolio-popup-video.popup_image_insp:hover {
    border: none;
}

.portfolio-popup-video.popup_image_insp:after {
    font-family: 'inspiro';
    font-size: 28px;
    font-weight: 600;
    content: "\e901";
}

.mfp-iframe-scaler .mfp-bottom-bar{
    margin-top: 5px;
}

.portfolio-popup-video {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 46%;
    max-width: 88%;
    width: 60px;
    height: 60px;
    line-height: 56px;
    border: 2px solid rgba(255,255,255,.8);
    opacity: .8;
    transform: translate(0, -50%);
}

.portfolio-popup-video:hover {
    opacity: 1;
    border: 2px solid #fff;
}

.entry-thumbnail-popover-content.lightbox_popup_insp {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.entry-thumbnail-popover-content.lightbox_popup_insp h3 {
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    transition: .2s ease all;
 }

.entry-thumbnail-popover-content.lightbox_popup_insp .entry-meta {
        color: #fff;

        width: 84%;
        margin: 0 8%;
        text-align: center;
        transition: .2s ease all;
        position: absolute;
        top: 64%;
        display: none;

        font-weight: 500;
        font-family: $font__headings;

        ul {

            list-style: none;

            li {
                margin-bottom: 0;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
                display: inline-block;
                vertical-align: middle;
                opacity: .7;
            }

            li + li:before {
                content: " / ";
                color: #fff;
                margin: 0 5px;
                font-style: normal;
                opacity: .3;
            }

        }
}


.entry-thumbnail-popover-content.lightbox_popup_insp:hover .entry-meta  {
    display: block;
}


.entry-thumbnail-popover-content.lightbox_popup_insp h3 a {
    color: #fff;
    text-decoration: none;
}

.entry-thumbnail-popover-content.lightbox_popup_insp h3 a:hover {
    opacity: .7;
}

.post_content_wrapper h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    width: 84%;
    margin: 0 8%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    transition: .2s ease all;
}

.post_content_wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: top 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: top 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
    background: rgba(0, 0, 0, 0.2);
    transition: all ease 0.1s;
}

.recent-post.has-post-thumbnail .post_content_wrapper {
    opacity: 1;
}

.recent-post.has-post-thumbnail:hover .post_content_wrapper {
    display: block;
    opacity: 1;
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1);
}

.portfolio-archive .portfolio_item:hover .post_content_wrapper h3 {
    display: none;
}


#slider .post-edit-link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        opacity: .7;
    }
}

/* Lightbox modifications */

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.mfp-fade .mfp-close {
    font-size: 40px;
    font-weight: 300;
}

.mfp-fade .mfp-iframe-holder .mfp-close {
    top: -50px;
    background: none;

}

.mfp-container.mfp-inline-holder {
    position: relative;
}

.mfp-title a {
    color: #fff;
    display: block;
    margin: 8px 0 0 6px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.mfp-title a:hover {
    opacity: .8;
}


/* Self-hosted video lightbox */
.mfp-fade .mejs-mediaelement {
    position: relative;
    overflow: hidden;
}

.mfp-container.mfp-iframe-holder {
    max-height: 100vh;
}

.mfp-fade .mfp-inline-holder .mfp-iframe-scaler {
    width: 100%;
    height: 100%;
    overflow: visible;
    padding-top: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mfp-iframe-scaler .wp-video {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: auto;
}

.mfp-fade .mfp-inline-holder .mfp-close {
    top: -50px;
    color: #fff;
}

.mfp-fade .mfp-iframe-holder .mfp-content {
    width: 100%;
    max-width: 90%;
    max-height: 90vh;
}


.mfp-fade .mfp-inline-holder .mfp-content {
    width: 100%;
    max-width: 90%;
}

.mfp-inline-holder .mfp-content .mejs-container {
    height: 100% !important;
    width: 100% !important;
}

.mfp-inline-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-content .wp-video-shortcode video,
.mfp-content video.wp-video-shortcode {
    width: 100% !important;
    height: 100% !important;
    max-height: 85vh;
    object-fit: cover;
}

.mejs-fullscreen .mfp-content .wp-video-shortcode video,
.mejs-fullscreen .mfp-content video.wp-video-shortcode {
    max-height: 100vh;
    height: 100vh !important;
}


/* Slider in Portfolio Posts */

.single-portfolio_item .slides > li .li-wrap {
    top: auto;
    bottom: 2%;
    right: 2%;
    position: absolute;
    margin: 0;
    max-width: 400px;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.single-portfolio_item .slides > li h3 {
    font-size: 16px;
    padding-bottom: 0;
    text-align: right;
    margin: 0;
    font-weight: normal;
}

.single-portfolio_item .slides > li h3:after {
    display: none;
}

.single-portfolio_item .slides > li .excerpt {
    margin: 10px 0 0;
    font-size: 14px;
    text-align: right;
    max-width: 100%;
}


#slider .slide-background-overlay {
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0);
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#slider .li-wrap {
    z-index: 30;
}

.slides > li h3 {
    position: relative;
    padding-bottom: 30px;
    margin-top: 0;
    color: #fff;
    font-size: 72px;
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: -1px;
    text-align: center;
    transition: 0.2s ease all;
}

.slides > li h3:after {
    width: 310px;
    content: " ";
    border-bottom: 2px solid rgba(201, 201, 201, 0.4);
    bottom: 0px;
    left: 50%;
    margin-left: -155px;
    position: absolute;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.slides > li h3 a { color: white; }

.slides > li h3 a:hover { text-decoration: none; opacity: .8; }

.slides > li h3 a:hover:after { border-color: $primary_color; }

.slides > li .excerpt {
    margin: 42px auto 0;
    max-width: 950px;
    color: #e6e6e6;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.slides > li .excerpt:last-child { margin-bottom: 0; }

.slides > li .slide_button {
    text-align: center;
    margin: 41px 0 0;
}

.slides > li .slide_button a {
    display: inline-block;
    width: auto;
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: $font__headings;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    -o-transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slides > li .slide_button a:hover  {
    text-decoration: none;
    border-color: $primary_color;
    background: $primary_color;
    color: #fff;
}

.slides > li .video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}

.slides > li .video-background video {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;

    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slides:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}



.background-video-buttons-wrapper {
    position: absolute;
    bottom: 1.5rem;
    right: 3.5rem;
    z-index: 100;
}

.background-video-buttons-wrapper a {
    color: #FFF;
    opacity: .4;
    transition: opacity .3s 0s ease-in;
    text-shadow: 1px 1px 5px rgba(0,0,0,.3);
    cursor: pointer;
}

.background-video-buttons-wrapper a:hover {
    color: #FFF;
    opacity: 1;
    text-decoration: none;
}


.wpzoom-button-video-background-play,
.wpzoom-button-video-background-pause {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    margin-right: 20px;
}


.wpzoom-button-sound-background-mute,
.wpzoom-button-sound-background-unmute {
    z-index: 100;
    font-size: 0;
    display: block;
    width: 40px;
    height: 43px;
    cursor: pointer;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    transition: all 100ms;
}

.wpzoom-button-sound-background-mute:after,
.wpzoom-button-sound-background-unmute:after {
    font: normal 30px/10px 'inspiro';
    display: inline-block;
    content: "\e900";
    vertical-align: top;
    padding: 15px 0;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #fff;
    opacity: .8;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}


.wpzoom-button-sound-background-unmute:after {
    content: "\e902";
}


html[xmlns] .slides { display: block }
* html .slides { height: 1% }
.no-js .slides > li:first-child { display: block }
.flexslider { margin: 0 0 15px; position: relative; zoom: 1; }
.flex-viewport { min-height: 300px; max-height: 2000px; }
.loading .flex-viewport { max-height: 300px }
.flexslider .slides { zoom: 1 }
.carousel li { margin-right: 5px }

.flex-direction-nav .flex-disabled { display: none !important; }

#slider .flex-direction-nav {
    position: absolute;
    z-index: 10;
    top: 49%;
    margin-top: -20px;
    width: 100%;
    list-style: none;
    padding: 0;
}


#slider .flex-direction-nav li a {
    position: absolute;
    z-index: 100;
    font-size: 0;
    display: block;
    width: 40px;
    height: 43px;
    cursor: pointer;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    transition: all 100ms;
}

#slider .flex-direction-nav .flex-prev:after,
#slider .flex-direction-nav .flex-next:after  {
    font: normal 44px/14px 'inspiro';
    display: inline-block;
    content: "\e601";
    vertical-align: top;
    padding: 15px 0;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    opacity: .8;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

#slider .flex-direction-nav .flex-next:after  {
    content: "\e600";
}

#slider .flex-direction-nav .flex-prev:hover:after,
#slider .flex-direction-nav .flex-next:hover:after {
    opacity: 1;
    text-decoration: none;
}


#slider .flex-direction-nav .flex-prev {
    left: 1%;
}

#slider .flex-direction-nav .flex-next {
    right: 1%;
}



.flex-direction-nav a:focus { outline: 0; }

.flex-direction-nav a:hover, .flex-direction-nav a:active { opacity: 1; }

#scroll-to-content {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 150;
    cursor: pointer;
    text-indent: -9999em;
    height: 24px;
    width: 69px;
    overflow: hidden;
    margin: 0 0 0 -27.5px;
    opacity: 0.5;
    -webkit-animation: pulsate 1.5s ease-out infinite;
    -o-animation: pulsate 1.5s ease-out infinite;
    animation: pulsate 1.5s ease-out infinite;
}

#scroll-to-content:hover { opacity: 1; }

#scroll-to-content:before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slides > li .li-wrap .excerpt {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        line-height: 1.4;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    h4 {
        font-size: 30px;
        margin-bottom: 25px;
    }


}