.site-footer {
    background: $dark_color;
    color: #78787f;
}

.home .site-footer {
    border-top: 1px solid rgba(255,255,255,.1);
 }

.side-nav a:hover,
.site-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-widgets {
    padding: 48px 0 0;
    font-size: 0;
}

.footer-widgets:before,
.footer-widgets:after {
    content: " ";
    display: table;
}

.footer-widgets:after { clear: both; }

.footer-widgets .column {
    display: inline-block;
    vertical-align: top;
    float: none;
    font-size: 16px;
}

.footer-widgets.widget-columns-4 .column {
    width: 23%;
    margin-right: 2.6666%;
}

.footer-widgets.widget-columns-3 .column {
    width: 31%;
    margin-right: 3.5%;
}

.footer-widgets.widget-columns-2 .column {
    width: 48%;
    margin-right: 4%;
}

.footer-widgets.widget-columns-1 .column {
    width: 100%;
}

.footer-widgets.widget-columns-2 .column:nth-child(2n+2),
.footer-widgets.widget-columns-3 .column:nth-child(3n+3),
.footer-widgets.widget-columns-4 .column:nth-child(4n+4) {
    margin-right: 0;
}


.footer-widgets .column:last-child { margin-right: 0 }

.side-nav .title,
.footer-widgets .title {
    color: white;
}

.site-footer-separator {
    background: #232323;
    height: 1px;
    border: none;
    margin-bottom: 0;
}
.site-info {
    padding: 30px 0;
}

.site-info:before, .site-info:after { content: " "; display: table; }
.site-info:after { clear: both }

.site-info a { color: #fff; font-weight: 600; }
.site-info a:hover { color: $primary_color }

.site-info .copyright,
.site-info .designed-by {
    margin: 5px 0;
    width: 50%;
    float: left;
}

.site-info .designed-by {
    text-align: right;
}