
/*********************************************************************************************

5. Homepage widgets

*********************************************************************************************/

.widgetized-section .widget {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.featured_page_wrap,
.elementor-widget-container .portfolio-showcase,
.widgetized-section .widget.portfolio-showcase,
.widgetized-section .widget.wpzoom-portfolio-scroller {
    max-width: 100%;
    padding: 0;
}

.elementor-widget-container .portfolio-showcase + .widget:before,
.elementor-widget-container .portfolio-showcase + .featured_page_wrap:before,
.widgetized-section .widget + .widget:before,
.widgetized-section .widget + .featured_page_wrap:before,
.featured_page_wrap + .widget:before,
.featured_page_wrap + .featured_page_wrap:before {
    background: #eee;
    width: 100vw;
    margin-left: calc( -100vw / 2 + 100% / 2);
    margin-right: calc( -100vw / 2 + 100% / 2);
    display: block;
    height: 1px;
    content: "";
    max-width: 100%;
}

.featured_page_wrap.featured_page_wrap--with-background {
    border-bottom: none;
}

.recent-posts {
    max-width: 950px;
    margin: 0 auto;
}

.no-results,
.error404 .recent-posts {
    padding-bottom: 50px;
}
