.page-template-homepage-portfolio .portfolio-archive {
    margin-bottom: 30px;
}

/* ZOOM Builder Templates */
.wpzlb-layout .wpzlb-inner-wrap, .wpzlb-layout .wrapped { margin: 0 auto; max-width: 1200px; padding: 0; border: none; }
.wpzlb-layout .wpzlb-group { -webkit-box-shadow: inset 0 1px 0 #F7F7F7, inset 0 -1px 0 #D8D8D8; box-shadow: inset 0 1px 0 #F7F7F7, inset 0 -1px 0 #D8D8D8; }
.page-template-page-templatestemplate-builder-php .page .entry-content,
.page-template-page-templatestemplate-home-builder-php .page .entry-content { max-width: 100%; padding: 0; }
.page-template-page-templatestemplate-home-builder-php .section-title { display: none; }



/* Blog + Sidebar */

.entry_wrapper {
    max-width: 1200px;
    margin: 60px auto;
}

.entry_wrapper .recent-posts,
.page .entry_wrapper .entry-content,
.single .entry_wrapper .entry-content {
    width: 72.7277%;
    float: left;
    margin-top: 0;
}

.entry_wrapper .recent-posts:not(.blog_3_col) .hentry {
    padding-bottom: 60px;
    margin-top: 0;
}

.entry_wrapper .recent-posts .entry-body {
    max-width: 100%;
    margin: 0 auto;
}

.entry_wrapper .recent-posts .entry-title {
    text-align: left;
}

.entry_wrapper .recent-posts .entry-meta {
    text-align: left;
}

.entry_wrapper .more-link,
.entry_wrapper .more_link {
    text-align: left;
    margin: 10px 0 0;
}


/* 3 cols + sidebar */

.entry_wrapper .recent-posts.blog_3_col > article {
    width: 48%;
    margin-right: 4%;
}

.entry_wrapper .recent-posts.blog_3_col > article:nth-of-type(3n+3) {
    margin-right: 4%;
}

.entry_wrapper .recent-posts.blog_3_col > article:nth-of-type(2n+2) {
    margin-right: 0;
}


.wpz_post_sidebar {
    float: right;
    text-align: left;
    width: 23%;
    margin: 0 0 40px 0;
    border-left: 1px solid #f1f2f2;
    padding: 0 0 20px 3.3%;
}

@media screen and (max-width: 1220px) {

    .entry_wrapper {
        max-width: 95%;
        margin-top: 30px;
        margin-bottom: 0;
    }

}

@media screen and (max-width: 1024px) {
    .entry_wrapper .recent-posts,
    .page .entry_wrapper .entry-content,
    .single .entry_wrapper .entry-content {
        padding: 0 !important;
    }
}

@media screen and (max-width: 950px) {
    .entry_wrapper .recent-posts,
    .page .entry_wrapper .entry-content,
    .single .entry_wrapper .entry-content {
        width: 100%;
        float: none;
    }

    .wpz_post_sidebar {
        float: none;
        width: 100%;
        margin: 0;
        border-left: none;
        padding: 0;
    }

}

@media screen and (max-width: 640px) {
    .entry_wrapper .recent-posts.blog_3_col > article {
        width: 100%;
        margin: 0 0 40px;
    }

    .entry_wrapper .recent-posts.blog_3_col > article:nth-of-type(3n+3) {
        margin-right: 0;
    }

}