/*********************************************************************************************

    Editor Blocks

*********************************************************************************************/

.wp-block-button__link {
    background: $primary_color;
}

.wp-block-button .wp-block-button__link {
    display: inline-block;
    width: auto;
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid $primary_color;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    transform: translate3d(0, 0, 0);
    border-radius: 0;

    &:hover {
        text-decoration: none;
        border-color: $dark_color;
        background: $dark_color;
        color: #fff;
    }

}

.wp-block-button.is-style-default .wp-block-button__link {
    border-radius: 30px;
}


.wp-block-button:not(.is-style-outline) {

    .has-text-color { text-shadow: none; }
    .has-text-color.has-green-color { color: $primary_color; }
    .has-text-color.has-blue-color { color: $blue_color; }
    .has-text-color.has-red-color { color: $red_color; }
    .has-text-color.has-black-color { color: $black_color; }
    .has-text-color.has-white-color { color: #fff; }
    .has-text-color.has-gray-color { color: $gray_color; }
    .has-text-color.has-brown-color { color: $brown_color; }
    .has-text-color.has-titan-white-color { color: #E0D8E2; }
    .has-text-color.has-peppermint-color { color: #d0eac4; }
    .has-text-color.has-bridesmaid-color { color: #FBE7DD; }
    .has-text-color.has-purple-color { color: #FF2EAA; }
    .has-text-color.has-light-blue-color { color: #0019D7; }

    .has-green-background-color {
        background-color: $primary_color;
        border: 2px solid transparent;

        &:hover {
            background: none;
            border: 2px solid #fff;
            color: #fff;
        }
    }

    .has-blue-background-color {
        background-color: $blue_color;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
            background: $dark_color;
            color: #fff;
        }
    }

    .has-red-background-color {
        background-color: $red_color;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
                    background: $dark_color;
            color: #fff;
        }
    }

    .has-brown-background-color {
        background-color: $brown_color;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
                    background: $dark_color;
            color: #fff;
        }
    }

    .has-black-background-color {
        background-color: $black_color;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
                    background: $dark_color;
            color: #fff;
        }
    }

    .has-gray-background-color {
        background-color: $gray_color;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
                    background: $dark_color;
            color: #fff;
        }
    }

    .has-white-background-color {
        background-color: #fff;
        color: #000;
        border: 2px solid transparent;
        text-shadow: none;

        &:hover {
            border-color: $dark_color;
                    background: $dark_color;
            color: #fff;
        }
    }

    .has-titan-white-background-color {
        background-color: #E0D8E2;
        border: 2px solid transparent;

        &:hover {
           border-color: $dark_color;
                   background: $dark_color;
            color: #fff;
        }
    }

    .has-peppermint-background-color {
        background-color: #d0eac4;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
                    background: $dark_color;
            color: #fff;
        }
    }

    .has-bridesmaid-background-color {
        background-color: #FBE7DD;
        border: 2px solid transparent;

        color: #444;
        &:hover {
            border-color: $dark_color;
             background: $dark_color;
            color: #fff;
        }
    }

    .has-purple-background-color {
        background-color: #FF2EAA;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
            background: $dark_color;
            color: #fff;
        }
    }

    .has-light-blue-background-color {
        background-color: #0019D7;
        border: 2px solid transparent;

        &:hover {
            border-color: $dark_color;
            background: $dark_color;
            color: #fff;
        }
    }


}


.wp-block-button.is-style-outline {

    .has-green-background-color {
        background-color: transparent;

        color: $primary_color;
        border-color: $primary_color;

        &:hover {
            background-color: $primary_color;
            border: 2px solid transparent;
            color: #fff;
        }
    }

    .has-blue-background-color {

        color: $red_color;
        border-color: $red_color;

        &:hover {
            background-color: $blue_color;
            color: #fff;
            border: 2px solid transparent;
        }
    }

    .has-red-background-color {

        color: $red_color;
        border-color: $red_color;

        &:hover {
            background-color: $red_color;
            color: #fff;
            border: 2px solid transparent;
        }
    }

    .has-purple-background-color {

        color:#FF2EAA;
        border-color: #FF2EAA;

        &:hover {
            background-color:#FF2EAA;
            color: #fff;
            border: 2px solid transparent;
        }
    }

    .has-light-blue-background-color {

        color: #0019D7;
        border-color: #0019D7;

        &:hover {
            background-color: #0019D7;
            color: #fff;
            border: 2px solid transparent;
        }
    }

    .has-brown-background-color {
        color: $brown_color;
        border-color: $brown_color;

        &:hover {
            background-color: $brown_color;
            color: #fff;
            border: 2px solid transparent;
        }
    }

    .has-black-background-color {

        color: $black_color;
        border-color: $black_color;

        &:hover {
            background-color: $black_color;
            border: 2px solid transparent;
            color: #fff;
        }
    }

    .has-gray-background-color {
        color: $gray_color;
        border-color: $gray_color;

        &:hover {
            background-color: $gray_color;
            border: 2px solid transparent;
            color: #fff;
        }
    }

    .has-white-background-color {

        &:hover {
            background-color: #fff;
            color: #000;
            border: 2px solid transparent;
            text-shadow: none;
        }
    }

    .has-titan-white-background-color {

        &:hover {
            background-color: #E0D8E2;
            border: 2px solid transparent;
        }
    }

    .has-peppermint-background-color {

        border-color: #d0eac4;
        color: #d0eac4;

        &:hover {
            background-color: #d0eac4;
            border: 2px solid transparent;
            text-shadow: none;
        }
    }

    .has-bridesmaid-background-color {
        color: #FBE7DD;
        border-color: #FBE7DD;

        &:hover {
            background-color: #FBE7DD;
            border: 2px solid transparent;
            color: #444;
        }
    }

}



#slider {

    .wp-block-separator.is-style-dots::before {
        color: rgba(201, 201, 201, 0.4)
    }

    .wp-block-separator:not(.is-style-dots) {
        border-bottom: 2px solid rgba(201, 201, 201, 0.4);
    }

    .wp-block-button .wp-block-button__link {
        display: inline-block;
        width: auto;
        padding: 10px 30px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        border: 2px solid #fff;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
        transform: translate3d(0, 0, 0);
        border-radius: 0;

        &:hover {
            text-decoration: none;
            border-color: #0bb4aa;
            background: #0bb4aa;
            color: #fff;
        }

    }

    .wp-block-button.is-style-default .wp-block-button__link {
        border-radius: 30px;
    }

    .wp-block-button__link {
        background: none;
    }

    .wp-block-button:not(.is-style-outline) {

        .has-text-color { text-shadow: none; }
        .has-text-color.has-green-color { color: $primary_color; }
        .has-text-color.has-blue-color { color: $blue_color; }
        .has-text-color.has-red-color { color: $red_color; }
        .has-text-color.has-black-color { color: $black_color; }
        .has-text-color.has-white-color { color: #fff; }
        .has-text-color.has-gray-color { color: $gray_color; }
        .has-text-color.has-brown-color { color: $brown_color; }
        .has-text-color.has-titan-white-color { color: #E0D8E2; }
        .has-text-color.has-peppermint-color { color: #d0eac4; }
        .has-text-color.has-bridesmaid-color { color: #FBE7DD; }
        .has-text-color.has-purple-color { color: #FF2EAA; }
        .has-text-color.has-light-blue-color { color: #0019D7; }

        .has-green-background-color {
            background-color: $primary_color;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-blue-background-color {
            background-color: $blue_color;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-red-background-color {
            background-color: $red_color;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-purple-background-color {
            background-color: #FF2EAA;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-light-blue-background-color {
            background-color:#0019D7;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-brown-background-color {
            background-color: $brown_color;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-black-background-color {
            background-color: $black_color;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-gray-background-color {
            background-color: $gray_color;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-white-background-color {
            background-color: #fff;
            color: #000;
            border: 2px solid transparent;
            text-shadow: none;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-titan-white-background-color {
            background-color: #E0D8E2;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-peppermint-background-color {
            background-color: #d0eac4;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }

        .has-bridesmaid-background-color {
            background-color: #FBE7DD;
            border: 2px solid transparent;

            &:hover {
                background: none;
                border: 2px solid #fff;
                color: #fff;
            }
        }


    }


    .wp-block-button.is-style-outline {

        .has-green-background-color {
            background-color: transparent;

            &:hover {
                background-color: $primary_color;
                border: 2px solid transparent;
            }
        }

        .has-blue-background-color {

            &:hover {
                background-color: $blue_color;
                border: 2px solid transparent;
            }
        }

        .has-red-background-color {

            &:hover {
                background-color: $red_color;
                border: 2px solid transparent;
            }
        }

        .has-purple-background-color {

            &:hover {
                background-color: #FF2EAA;
                border: 2px solid transparent;
            }
        }

        .has-light-blue-background-color {

            &:hover {
                background-color: #0019D7;
                border: 2px solid transparent;
            }
        }

        .has-brown-background-color {

            &:hover {
                background-color: $brown_color;
                border: 2px solid transparent;
            }
        }

        .has-black-background-color {

            &:hover {
                background-color: $black_color;
                border: 2px solid transparent;
            }
        }

        .has-gray-background-color {

            &:hover {
                background-color: $gray_color;
                border: 2px solid transparent;
            }
        }

        .has-white-background-color {

            &:hover {
                background-color: #fff;
                color: #000;
                border: 2px solid transparent;
                text-shadow: none;
            }
        }

        .has-titan-white-background-color {

            &:hover {
                background-color: #E0D8E2;
                border: 2px solid transparent;
            }
        }

        .has-peppermint-background-color {

            &:hover {
                background-color: #d0eac4;
                border: 2px solid transparent;
                text-shadow: none;
            }
        }

        .has-bridesmaid-background-color {

            &:hover {
                background-color: #FBE7DD;
                border: 2px solid transparent;
            }
        }

    }

}

.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
    display: block;
    margin-top: 0;
    font-size: 14px;
}