
/*********************************************************************************************

6.  Portfolio Gallery

*********************************************************************************************/

.portfolio-grid {
    font-size: 0;
}

.widgetized-section .portfolio-grid {
    background: $dark_color;
}

.widgetized-section .portfolio_template_clean .portfolio-grid {
    background: none;
}

.portfolio-view_all-link {
    padding: 0;
    text-align: center;
    background: $dark_color;
}

.portfolio-view_all-link .btn {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.18);
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.portfolio-view_all-link .btn:hover {
    border-color: $primary_color;

    color: $primary_color;
    text-decoration: none;
}

.builder-wrap .inner-wrap,
.widgetized-section .inner-wrap {

    .portfolio-view_all-link {
        background: none;
    }

    .portfolio-view_all-link .btn {
        color: #444;
        letter-spacing: 1px;
        border-color: rgba(68, 68, 68, 0.19);
    }

    .portfolio-view_all-link .btn:hover {
        border-color: $primary_color;
        color: $primary_color;
    }

}

.portfolio-showcase .portfolio-grid:before,
.portfolio-showcase .portfolio-grid:after,
.portfolio-archive .portfolio-grid:before,
.portfolio-archive .portfolio-grid:after {
    content: " ";
    display: table;
}

.portfolio-showcase .portfolio-grid:after,
.portfolio-archive .portfolio-grid:after {
    clear: both
}

.portfolio-showcase .portfolio_item,
.portfolio-archive .portfolio_item {
    width: 25%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page-template-archive-infinite .portfolio-showcase .portfolio_item,
.page-template-archive-infinite .portfolio-archive .portfolio_item {
    display: inline-block !important;
}


/* With Spacing Enabled */

.portfolio-showcase .portfolio-grid.portfolio_with_space {
    margin: 0.5%;
}

.portfolio-archive .portfolio-grid.portfolio_with_space {
    margin: 0.5% 0.5% 0 0.5%;
    padding-bottom: 0.5%;
}

.portfolio-showcase .portfolio_with_space .portfolio_item,
.portfolio-archive .portfolio_with_space .portfolio_item {
    width: 24%;
    margin: .5%;
}


.widgetized-section .portfolio-grid.portfolio_with_space {background: none; }


/* END */


.col_no_4 .entry-thumbnail-popover-content h3 {
    font-size: 20px;
}

.col_no_5 .entry-thumbnail-popover-content h3 {
    font-size: 18px;
}


.col_no_4 .entry-thumbnail-popover-content p,
.col_no_5 .entry-thumbnail-popover-content p,
.col_no_5 .entry-thumbnail-popover-content .btn {
    display: none;
}


#portfolio-masonry {
    position: relative;
}

.portfolio-showcase .portfolio_item:before,
.portfolio-showcase .portfolio_item:after,
.portfolio-archive .portfolio_item:before,
.portfolio-archive .portfolio_item:after {
    content: " ";
    display: table;
}

.portfolio-showcase .portfolio_item:after,
.portfolio-archive .portfolio_item:after {
    clear: both
}

.portfolio-showcase .portfolio_item img,
.portfolio-archive .portfolio_item img {
    width: 100%;
    height: auto;
    transition: 0.25s ease-in-out all;
}

.portfolio-showcase .portfolio_item video,
.portfolio-archive .portfolio_item video {
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 101;
    opacity: 0;
    width:100%;
    height:auto;
    vertical-align: middle;

    transition: all .3s ease-in-out;
    display: block;
}


.portfolio-showcase .portfolio_item:hover video,
.portfolio-archive .portfolio_item:hover video {
     z-index: 11;
     opacity: 1;
     display:block;
     visibility: visible;
}

.portfolio-showcase .portfolio_item:hover img,
.portfolio-archive .portfolio_item:hover img {
    transform: scale(1.1);
    z-index: 10;
}

.portfolio_item:hover .entry-thumbnail-popover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}


.portfolio-showcase .portfolio_item.is-portfolio-gallery-video-background img,
.portfolio-archive .portfolio_item.is-portfolio-gallery-video-background img {
    opacity: 1;
    transition: opacity 5s ease-in-out;
    position: relative;
    z-index: 99;
}

.portfolio-showcase .portfolio_item.is-portfolio-gallery-video-background:hover img,
.portfolio-archive .portfolio_item.is-portfolio-gallery-video-background:hover img {
    // opacity: 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.portfolio-showcase .portfolio_item:hover.is-portfolio-gallery-video-background img,
.portfolio-archive .portfolio_item:hover.is-portfolio-gallery-video-background img {
    z-index: 10;
}

.portfolio-grid .portfolio_item:hover .entry-thumbnail-popover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.75);
}


.portfolio_item.no-thumbnail .entry-thumbnail-popover {
    opacity: 1
}

.portfolio_item:hover .entry-thumbnail-popover-content,
.portfolio_item.no-thumbnail .entry-thumbnail-popover-content {
    opacity: 1;
    bottom: 0;
}

.portfolio-showcase .portfolio_item .more_link,
.portfolio-archive .portfolio_item .more_link {
    display: none
}

.portfolio-archive-taxonomies {
    padding: 45px 0;
}


.portfolio-with-post-cover .portfolio-archive-taxonomies {
    background: $dark_color;
}


.widget.portfolio-showcase {
    .portfolio-archive-taxonomies {
       padding-top:0;
    }
}

.portfolio-archive-taxonomies:before,
.portfolio-archive-taxonomies:after {
    content: " ";
    display: table;
}

.portfolio-archive-taxonomies:after {
    clear: both
}

.portfolio-archive-taxonomies ul {
    margin: 0;
    padding: 0 4% !important;
    list-style: none;
    text-align: center;
}

.portfolio-archive-taxonomies li {
    display: inline-block;
    margin-bottom: 10px;
}

.portfolio-archive-taxonomies li + li {
    margin-left: 18px
}

.portfolio-archive-taxonomies li.current-cat a {
    border-color: #222;
    color: #222;
}

.portfolio-with-post-cover .portfolio-archive-taxonomies li.current-cat a {
    border-color: rgba(255, 255, 255, 0.59);
    color: #fff;
}

.portfolio-archive-taxonomies a {
    display: block;
    padding: 10px 20px;
    border: 2px solid rgba(175, 175, 175, 0.48);
    color: #717175;
    font-family: $font__headings;
    font-weight: 500;
    transition: 0.2s ease all;
}


.portfolio-with-post-cover .portfolio-archive-taxonomies a {
    border-color: rgba(255, 255, 255, 0.09);
}

.portfolio-archive-taxonomies a:hover {
    border-color: $primary_color;
    color: $primary_color;
    text-decoration: none;
}

.entry-thumbnail-popover {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    z-index: 200;
    transition: 0.15s ease-in-out all;
}

.entry-thumbnail-popover-content {
    color: white;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 8%;
    opacity: 0;
    transition: 0.3s ease-out opacity;
}

.entry-thumbnail-popover-content.popover-content--animated {
    transition: 0.3s ease-out opacity, 0.3s ease-out bottom;
}

.entry-thumbnail-popover-content h3 {
    margin: 0 0 10px;
    color: white;
    font-weight: 600;
    line-height: 1.4;
    font-size: 26px;
    transition: all .2s ease;
}

.entry-thumbnail-popover-content h3:hover {
    color: $primary_color;
}


.entry-thumbnail-popover-content .entry-meta {
    color: #fff;
    transition: .2s ease all;
    font-weight: 500;
    font-family: $font__headings;

    ul {

        list-style: none;

        li {
            margin-bottom: 8px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            opacity: .7;
        }

        li + li:before {
            content: " / ";
            color: #fff;
            margin: 0 5px;
            font-style: normal;
            opacity: .3;
        }

    }
}



.entry-thumbnail-popover-content span {
    color: #fff;
    margin-top: 15px;
}

.entry-thumbnail-popover-content span:hover {
    color: $primary_color;
    text-decoration: none;
}

.entry-thumbnail-popover-content p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    opacity: .8;
}

.entry-thumbnail-popover-content .btn {
    color: #fff;
    border-color: #fff;
}

.entry-thumbnail-popover-content .btn:hover {
    border-color: $primary_color
}






/* Porfolio Templates */
.portfolio-archive .section-title:after {
    margin: 40px auto 0;
}

.portfolio-with-post-cover .portfolio-archive {
    background: $dark_color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07)
}

.portfolio-with-post-cover .portfolio-header-cover {
    min-height: 250px;
    position: relative;
    background: black;
}

.portfolio-with-post-cover .portfolio-header-cover-image {
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.portfolio-with-post-cover .cover-fullheight .portfolio-header-cover-image,
.portfolio-header-cover .entry-cover {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.portfolio-with-post-cover .portfolio-header-cover-image:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
}

.fs-background .portfolio-header-info,
.is-vimeo-pro-slide .portfolio-header-info,
.portfolio-with-post-cover .portfolio-header-info {
    z-index: 99;
    padding: 50px 0;
}

.portfolio-with-post-cover .entry-cover  {
    min-height: 250px;
}

.fs-background .portfolio-header-info .entry-info,
.is-vimeo-pro-slide .portfolio-header-info .entry-info,
.portfolio-with-post-cover .portfolio-header-info .entry-info {
    margin-top: 0;
    color: #fff;
    position: relative;
    z-index: 100;
}

.fs-background .portfolio-header-info .section-title,
.is-vimeo-pro-slide .portfolio-header-info .section-title,
.portfolio-with-post-cover .portfolio-header-info .section-title {
    color: #fff;
}

.entry-header-excerpt {
    margin: 40px 0 0;
    text-align: center;
    opacity: .9;
}

.entry-header-excerpt:empty {
    display: none;
}

.fs-background .portfolio-header-info .section-title:after,
.is-vimeo-pro-slide .portfolio-header-info .section-title:after,
.portfolio-with-post-cover .section-title:after {
    background: rgba(255,255,255,.3);
}


/* Clean Portfolio template */

.portfolio_template_clean {

    .portfolio_with_space .portfolio_item,
    .portfolio_item {

        .portfolio-popup-video {
            border: none;
        }

        &:hover {
            transition: all .2s ease;

            z-index: 199;
            box-shadow: 2px 8px 20px 0 rgba(31,32,68,.15);


            .clean_skin_wrap_post {
                padding-bottom: 20px;
            }

        }

        .entry-thumbnail-popover .portfolio-popup-video:after {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
            right: 0;
            margin: auto;
            border: none;
        }

        .entry-thumbnail-popover .portfolio-popup-video {
            display: inline-block;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            max-width: 88%;
            width: 100%;
            height: 100%;
            line-height: 56px;
            opacity: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            vertical-align: middle;
            transform: none;
        }

        .entry-thumbnail-popover .portfolio-popup-video:hover {
            opacity: 1;
            border: none;
            background: none;
            border-radius: 0;
        }

    }

}


.inner-wrap.portfolio_template_clean {
    max-width: 1400px;
}

.portfolio_item_top_wrap {
    position: relative;
    overflow: hidden;
}

.clean_skin_wrap_post {
    font-size: 14px;
    text-align: center;
    padding: 15px;
    transition: all .2s ease;
    background: #fff;
    position: relative;
    z-index: 100;

    h3 {
        font-size: 18px;
        font-family: $font__headings;
        font-weight: 600;
        line-height: 1.4;
        margin: 0;
    }

    a {
        color: #222;

        &:hover {
            color: $primary_color;
        }
    }

    .portfolio_sub_category {
        display: inline-block;
        vertical-align: middle;
    }

    .portfolio_sub_category + .portfolio_sub_category:before {
        content: " / ";
        display: inline-block;
        opacity: .7;
        margin: 0 5px;
    }


    .entry-meta {
        transition: .2s ease all;
        font-weight: 500;
        font-family: $font__headings;
        text-align: center;
        ul {

            list-style: none;

            li {
                margin-bottom: 5px;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
                display: inline-block;
                vertical-align: middle;
            }

            li + li:before {
                content: " / ";
                color: #000;
                margin: 0 5px;
                font-style: normal;
                opacity: .3;
            }

        }
    }

}


.portfolio-with-post-cover {

    .clean_skin_wrap_post {

        a {
            color: #fff;

            &:hover {
                color: $primary_color;
            }
        }

        .portfolio_sub_category {
            color: #777;
        }

    }

    .portfolio_template_clean {

        .portfolio_with_space .portfolio_item,
        .portfolio_item {

            &:hover {

                box-shadow: none;

                .clean_skin_wrap_post {
                    background: #222;
                }
            }

        }

    }
}

.portfolio-with-post-cover .clean_skin_wrap_post {
    background: #111;
}



.fl-builder.page .entry-content,
.fl-builder.single .entry-content {
    width: auto;
    max-width: 100%;
    padding: 0px;
}

.portfolio-header-info .sharedaddy { display: none; }





.pulse-circle {
  width: 30px;
  height: 30px;
  background-color: #333;
  position: absolute;
  top:11px;
  left: 50%;
  margin-left: -15px;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}


.portfolio-taxonomies {
    .cat-item-none {
        display: none;
    }
}


.return_to_parent {

    a {
        display: inline-block;
        border: none;
    }

}

/* Portfolio background video on single template */

.single-portfolio_item .is-vimeo-pro-slide iframe {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.single-portfolio_item .has-post-cover .entry-cover {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-portfolio_item .display-none {
    display: none;
}

/* Background overlay in single portfolio template */
.single-portfolio_item .slide-background-overlay {
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0);
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20; }


.portfolio-grid.always-play-background-video .portfolio_item video {
    opacity: 1;
    transition: none;
 }



 .single-portfolio_item {

     .entry-details {
         margin: 0 0 40px;

         span {
             margin-top: 0;
             font-weight: 600;
             display: block;
             color: #111;
             text-transform: uppercase;
             font-family: $font__headings;
         }

         ul {
             padding: 0;
             margin: 0;
         }

         li {
             list-style-type: none;
             margin-bottom: 20px;
         }
     }
}