/* Blog Posts */

.blog-with-post-cover .blog-header-cover {
    min-height: 300px;
    position: relative;
    background: black;
    margin-bottom: 50px;
}

.blog-with-post-cover .blog-header-cover-image {
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.blog-with-post-cover .blog-header-cover-image:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0);
}

.blog-with-post-cover .blog-header-info {
    position: relative;
    z-index: 99;
    padding: 50px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.blog-with-post-cover .blog-header-info .entry-info {
    margin-top: 0;
    color: #fff;
}

.blog-with-post-cover .blog-header-info .section-title {
    color: #fff;
}


.blog-with-post-cover .section-title:after {
    background: rgba(255,255,255,.3);
}



.recent-posts .post:before,
.recent-posts .post:after {
    content: " ";
    display: table;
}

.recent-posts .post:after{
    clear: both
}

.recent-posts .hentry {
    padding-bottom: 10px;
    margin: 50px 0 0;
    position: relative;
}


.recent-posts.blog_3_col {
    font-size: 0;
    max-width: 1400px;
}

.home .recent-posts.blog_3_col {
    margin-top: 50px;
}

.recent-posts.blog_3_col > article {
    width: 31.5%;
    margin: 0 2.75% 50px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.recent-posts.blog_3_col > article:nth-of-type(3n+3) {
    margin-right: 0;
}

.recent-posts.blog_3_col .entry-body {
    max-width: 100%;
}

.recent-posts.blog_3_col .post-thumb {
    margin-bottom: 20px;
}

.recent-posts.blog_3_col .entry-title {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.recent-posts.blog_3_col .entry-meta {
    text-align: left;
    font-size: 14px;
}

.recent-posts.blog_3_col .more-link,
.recent-posts.blog_3_col .more_link {
    display: inline-block;
    text-align: left;
    margin: 10px 0 0;
}

.recent-posts.blog_3_col .hentry:after {
    display: none;
}


.recent-posts .hentry:after {
    display: block;
    content: " ";
    width: 130px;
    height: 1px;
    background: #E6E6E6;
    margin: 50px auto 0;
}

.recent-posts .post-thumb {
    display: block;
    margin-bottom: 30px;
}

.recent-posts .post-thumb img{
    max-width: 100%;
    height: auto;
    width: 100%;
}


.recent-posts .entry-body {
    max-width: 85%;
    margin: 0 auto;
}

.entry-header {
    position: relative
}

.entry-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
}

.recent-posts .entry-title {
    text-align: center;
}

.entry-title a {
    color: #222
}

.entry-title a:hover {
    color: $primary_color;
    text-decoration: none;
}


.page .entry-title {
    margin-top: 87px;
    color: #222;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    font-family: $font__headings;
    text-transform: uppercase;
}

.page .entry-title:after {
    display: block;
    content: " ";
    width: 130px;
    height: 1px;
    background: #E6E6E6;
    margin: 40px auto 48px;
}


.page .has-post-cover .entry-header .entry-title:after {
    display: none;
}

.entry-content {
    line-height: 1.9;
}

.entry-content:before,
.entry-content:after {
    content: " ";
    display: table;
}

.entry-content:after {
    clear: both
}

.entry-content p {
    margin-bottom: 28px;
    word-wrap: break-word;
}

.entry-content p:last-child {
    margin-bottom: 0
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.entry-meta {
    color: #999;

    p {
        margin-bottom: 0;
    }
}

.recent-posts .entry-meta {
    font-size: 16px;
    text-align: center;
    margin: 0 0 20px;
}

.entry-meta a {
    color: #222;
}

.recent-posts .entry-meta a {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
}

.entry-meta a:hover {
    color: $primary_color;
    text-decoration: none;
}

.recent-posts .entry-meta span {
    display: inline;
}

.entry-meta span + span:before {
    content: " /  ";
    color: #B6BABB;
    margin: 0 5px;
    font-style: normal;
    opacity: .5;
}

.more-link,
.more_link {
    font-weight: bold;
    display: table;
    text-align: center;
    margin: 10px auto 0;
}


/*********************************************************************************************

8.  Single posts

*********************************************************************************************/

.page .entry-info,
.single .entry-info,
.blog .entry-info {
    max-width: 950px;
    margin: 70px auto 0;
}


.page .entry-info.wpz_full_info,
.single .entry-info.wpz_full_info,
.blog .entry-info.wpz_full_info {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
}



// .fs-background.entry-cover,
// .is-vimeo-pro-slide.entry-cover,
.page .has-post-cover .entry-cover,
.single-portfolio_item .has-post-cover .entry-cover,
.single .has-post-cover .entry-cover {
    min-height: 450px;
    height: 100%;
    position: relative;
    background: black;
}


.single-portfolio_item .has-post-cover .entry-cover {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.page {

    .portfolio-with-post-cover .entry-cover.cover-fullheight,
    .has-post-cover .cover-fullheight.entry-cover,
    .cover-fullheight.fs-background.entry-cover,
    .cover-fullheight.is-vimeo-pro-slide.entry-cover {
        height: 100vh;
    }

    .portfolio-with-post-cover .cover-fullheight .entry-info,
    .has-post-cover .cover-fullheight .entry-header,
    .cover-fullheight.fs-background .entry-header,
    .cover-fullheight.is-vimeo-pro-slide .entry-header {
        margin-top: 1px;
        position: relative !important;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 90;

        .entry-title {
            text-align: center !important;
        }

    }


    .fs-background.cover-fullheight .entry-info,
    .is-vimeo-pro-slide.cover-fullheight .entry-info,
    .portfolio-with-post-cover .cover-fullheight .entry-info {
        margin-top: 1px;
        position: absolute !important;
        z-index: 10;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 90;
        width: 100%;

        .entry-title {
            text-align: center !important;
        }

    }


}


.single-post,
.single-portfolio_item {

    .portfolio-with-post-cover .entry-cover.cover-fullheight,
    .has-post-cover .cover-fullheight.entry-cover,
    .cover-fullheight.fs-background.entry-cover,
    .cover-fullheight.is-vimeo-pro-slide.entry-cover {
        height: 100vh;
    }


}

.page {

    .portfolio-with-post-cover .entry-cover.cover-fullheight,
    .has-post-cover .cover-fullheight.entry-cover,
    .cover-fullheight.fs-background.entry-cover,
    .cover-fullheight.is-vimeo-pro-slide.entry-cover {
        height: 100vh;
    }

    .portfolio-with-post-cover .cover-fullheight .entry-info,
    .has-post-cover .cover-fullheight .entry-header,
    .cover-fullheight.fs-background .entry-header,
    .cover-fullheight.is-vimeo-pro-slide .entry-header {
        margin-top: 1px;
        position: relative !important;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 90;

        .entry-title {
            text-align: center !important;
        }

    }


    .fs-background.cover-fullheight .entry-info,
    .is-vimeo-pro-slide.cover-fullheight .entry-info,
    .portfolio-with-post-cover .cover-fullheight .entry-info {
        margin-top: 1px;
        position: absolute !important;
        z-index: 10;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 90;
        width: 100%;

        .entry-title {
            text-align: center !important;
        }

    }


}


.single-post.admin-bar,
.single-portfolio_item.admin-bar,
.page.admin-bar {

    .portfolio-with-post-cover .entry-cover.cover-fullheight,
    // .portfolio-with-post-cover .cover-fullheight .portfolio-header-cover-image,
    .has-post-cover .cover-fullheight.entry-cover,
    .cover-fullheight.is-vimeo-pro-slide.entry-cover,
    .cover-fullheight.fs-background.entry-cover {
        height: calc(100vh - 32px);
    }

}


@media screen and (max-width: 782px) {

    .single-post.admin-bar,
    .single-portfolio_item.admin-bar,
    .page.admin-bar {
        .portfolio-with-post-cover .entry-cover.cover-fullheight,
        .has-post-cover .cover-fullheight.entry-cover,
        .cover-fullheight.is-vimeo-pro-slide.entry-cover,
        .cover-fullheight.fs-background.entry-cover {
            height: calc(100vh - 46px);
        }

    }

}



.page .has-post-cover .entry-cover-image,
.single .has-post-cover .entry-cover-image {
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: all .2s ease-in-out;
}

.page .has-post-cover .entry-cover-image:after,
.single .has-post-cover .entry-cover-image:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0);
}


.single .has-post-cover .no-overlay .entry-cover-image,
.page .has-post-cover .no-overlay .entry-cover-image {
    opacity: 1;
}


.single .has-post-cover .no-overlay .entry-cover-image:after,
.page .has-post-cover .no-overlay .entry-cover-image:after {
    display: none;
}

.single-portfolio_item .has-post-cover .entry-header {
    bottom: 0;
    max-width: 950px;
    left: 0;
    right: 0;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}


.single-portfolio_item .has-post-cover .entry-header .entry-info {
    max-width: 950px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 3%;
}

.page .has-post-cover .entry-header,
.single .has-post-cover .entry-header {
    width: 100%;
    bottom: 30px;
    position: absolute;
    z-index: 99;
}

.page .has-post-cover .entry-header .entry-info,
.single .has-post-cover .entry-header .entry-info {
    margin-top: 0;
    color: #fff;
}

.page .has-post-cover .entry-header .entry-title,
.single .has-post-cover .entry-header .entry-title {
    color: #fff;
    font-size: 45px;
    text-transform: none;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    font-family: inherit;
}

.page .has-post-cover .entry-header .entry-meta,
.single .has-post-cover .entry-header .entry-meta {
    color: rgba(255,255,255,.7);
    opacity: 0.9;
    font-size: 16px;
}

.page .has-post-cover .entry-header .entry-meta a,
.single .has-post-cover .entry-header .entry-meta a {
    color: #fff;
    font-weight: 600;
}


.single-portfolio_item .has-post-cover .entry-header .entry-meta a + a:before {
    content: " / ";
    display: inline-block;
    opacity: .5;
    margin: 0 5px;
}



.page .has-post-cover .entry-header .entry-meta a:hover,
.single .has-post-cover .entry-header .entry-meta a:hover {
    text-decoration: none;
    color: $primary_color;
}

.page .entry-category + .entry-date,
.single .entry-category + .entry-date {
    display: inline-block;
    margin-left: 5px;
}

.page .entry-content,
.single .entry-content {
    max-width: 950px;
    margin: 45px auto;
}

.page .full-width .entry-content,
.single .full-width .entry-content {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.full-width .tiled-gallery {
    max-width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}


.page .full-width .entry-info {
    margin-top: 0;
}

.page .full-width .entry-title {
    margin-bottom: 0;
}


.page .full-width_dark .entry-content,
.single .full-width_dark .entry-content {
    color: #b5b5b5;
    background: #222;
}

.page .full-width_dark .entry-content h1,
.page .full-width_dark .entry-content h2,
.page .full-width_dark .entry-content h3,
.page .full-width_dark .entry-content h4,
.page .full-width_dark .entry-content h5,
.page .full-width_dark .entry-content h6,
.single .full-width_dark .entry-content h1,
.single .full-width_dark .entry-content h2,
.single .full-width_dark .entry-content h3,
.single .full-width_dark .entry-content h4,
.single .full-width_dark .entry-content h5,
.single .full-width_dark .entry-content h6 {
    color: #fff;
}

#main.full-width_dark {
    background: #222;
}


.full-width_dark .tiled-gallery {
    background: #000;
}

.full-width_dark .entry-cover {
    background: #222;
}

.page .full-width_dark .entry-title {
    color: #fff;
    margin-top: 0;
    padding: 50px 0;
}

.page .full-width_dark .entry-title:after {
    display: none;
}

.page .entry-footer,
.single .entry-footer {
    max-width: 970px;
    margin: 0 auto 76px;
    padding: 0 10px;
    text-align: center;
}

.page .entry-footer .section-title,
.single .entry-footer .section-title {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #666;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: $font__headings;
    text-transform: uppercase;
}

.page .entry-footer .section-title:after,
.single .entry-footer .section-title:after {
    display: none
}

.page .entry-footer .section-title:before,
.single .entry-footer .section-title:before {
    display: block;
    content: " ";
    width: 200px;
    height: 1px;
    background: #E6E6E6;
    margin: 40px auto 48px;
}

.page .tag_list,
.single .tag_list {
    margin: 10px 0 30px;
    font-size: 14px;
}

.page .tag_list .separator,
.single .tag_list .separator {
    margin: 0 5px 0 0;
    color: #aaa;
}


/* Author Bio */
.page .post_author,
.single .post_author {
    font-family: $font__headings;
    margin: 0 0 40px;
    font-size: 14px;
    color: #666;
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
}

.page .post_author:before,
.single .post_author:before {
    display: block;
    content: " ";
    width: 200px;
    height: 1px;
    background: #E6E6E6;
    margin: 40px auto 48px;
}

.page .post_author img,
.single .post_author img {
    margin: 0 0 20px 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.page .post_author a,
.single .post_author a {
    font-size: 18px;
    color: #222;
    line-height: 1.9;
}

.page .post_author a:hover,
.single .post_author a:hover {
    text-decoration: none;
    color: $primary_color;
}

.page .post_author span,
.single .post_author span {
    margin: 0 0 5px;
    display: block;
    text-transform: uppercase;
}

/* Sharing Buttons */
.page .share,
.single .share {
    text-align: center
}

.page .share a,
.single .share a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font__headings;
    font-size: 14px;
    color: #fff;
    padding: 5px 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 10px 0 0;
    transition: all 0.2s ease;
    font-weight: 500;
}

.page .share a.twitter,
.single .share a.twitter {
    background: #3a93d8
}

.page .share a.facebook,
.single .share a.facebook {
    background: #2e6cc8
}

.page .share a.wpz_linkedin,
.single .share a.wpz_linkedin {
    background: #0077B5
}

.page .share a.twitter:hover,
.single .share a.twitter:hover {
    background: #59aef5
}

.page .share a.facebook:hover,
.single .share a.facebook:hover {
    background: #5084e4
}

.page .share a.wpz_linkedin:hover,
.single .share a.wpz_linkedin:hover {
    background: #1b88c1
}


.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-bottom: 20px;
    line-height: 1.3;
    font-weight: bold;
}

.entry-content .wp-block-image img,
.entry-content img.alignnone,
.entry-content img.aligncenter,
.entry-content img.alignleft,
.entry-content img.alignright,
.entry-content img.attachment-fullsize {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.entry-content ul,
.entry-content ol {
    margin-bottom: 25px;
}

.entry-content li ul:not(.wp-block-gallery),
.entry-content li ol {
    margin-bottom: 0;
    margin-left: 30px;
}

.entry-content .wp-block-gallery {
    margin-left: 0;
}

.entry-content li {
    list-style-position: inside
}

.entry-content ul li {
    list-style-type: square
}

.entry-content ol li {
    list-style-type: decimal
}

.entry-content .shortcode-unorderedlist ul li,
.entry-content .shortcode-unorderedlist ul li ul {
    list-style-type: none
}


.entry-content blockquote {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    max-width: 100%;
    font-style: italic;
}


.entry-content blockquote:before,
.entry-content blockquote:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 50px auto;
    background: rgba(0,0,0,.1);
}


/* Gutenberg Images */
.entry-content .alignfull {
    margin-left: calc( -100vw / 2 + 100% / 2);
    margin-right: calc( -100vw / 2 + 100% / 2);
}

.entry-content .alignfull,
.entry-content .alignfull img {
    width: 100vw;
    max-width: 100vw;
}

@media only screen and ( min-width: 1200px) {
    .entry-content .alignwide {
        margin-left  : -125px;
        margin-right : -125px;
        max-width: 1200px;
        width: 1200px;
    }
}

/* Caption for images */
.entry-content .wp-caption {
    width: auto;
    text-align: center;

}

.entry-content .wp-caption img {
    background: none;
    margin: 0;
    border: 0 none;
    max-width: 100%;
    width: auto;
    height: auto;
}


.wp-caption {
    width: auto;
}

.wp-caption img {
    display: block;
}

.wp-caption-text {
    color: #8c888c;
    font-size: 16px;
    margin: 15px 0;
    font-style: italic;
}


.entry-content .wp-caption.aligncenter {
    margin: 0 auto 15px
}


img.wp-smiley {
    border: none;
    padding: 0;
}



/* Galleries */

.entry-content .tiled-gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


.entry-content .gallery {
    clear: both;
    text-align: center;
    max-width: 100%;
}

.entry-content .gallery a:hover {
    opacity: 0.6;
    transition: opacity 0.25s ease-in-out;
}

.gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-icon img {
    margin: 0 auto;
}

.gallery-caption {
    color: #8c888c;
    margin: 15px 0;
    display: block;
    font-size: 12px;
    font-style: italic;
    line-height: 1.4;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}




/* Images align */
.entry-content .aligncenter,
div.aligncenter {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.alignleft,
.entry-content .alignleft {
    float: left;
    margin-right: 15px;
}

.alignright,
.entry-content .alignright {
    float: right;
    margin-left: 15px;
}






/* WPZOOM Shortcode */

.entry-content .shortcode-unorderedlist ul li,
.entry-content .shortcode-unorderedlist ul li ul {
    list-style-type: none
}

.entry-content a.wpz-sc-button {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}

.entry-content a.wpz-sc-button:hover {
    color: #fff;
}





/* Jetpack Related Posts */
.single #jp-relatedposts {
    margin-bottom: 0;
}

h4.jp-relatedposts-post-title {
    margin: 10px 0 5px !important;
    font-weight: bold;
    position: relative;
}

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
}

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a {
    color: #171615;
    font-weight: bold;
}

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a:hover {
    text-decoration: none;
    color: $primary_color;
}

.single #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
    text-decoration: none;
}

.single div#jp-relatedposts h3.jp-relatedposts-headline {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    float: none;
    color: #666;
    font-size: 16px;
    font-weight: normal;
    font-family: $font__headings;
    text-transform: uppercase;
}

.single div#jp-relatedposts h3.jp-relatedposts-headline em {
    font-weight: normal;
}

.single div#jp-relatedposts h3.jp-relatedposts-headline em:before {
    display: none;
}

.single #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
    opacity: 1;
    margin-bottom: 0;
}




.fullimg,
.fullimg figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    max-width: none;
}

.fullimg img,
.fullimg figure img {
    width: 100% !important;
    height: auto;
    margin-bottom: 20px;
}

.entry-content .fullimg .wp-caption.aligncenter {
    margin-bottom: 0
}

.entry-content .fullimg .aligncenter {
    margin-bottom: 0
}

.entry-content .fullimg p {
    margin-bottom: 0
}

.single-portfolio_item .entry-header {
    text-align: center;
    margin-bottom: 20px;
}

.single-portfolio_item .has-post-cover .entry-header .entry-title {
    text-align: center;
}



/* Previous/Next Post Navigation */
.previous-post-cover {
    margin: 60px auto 0;
    background: #0f1010;
    color: #fff;
    text-align: center;
}

.previous-post-cover a:hover {
    text-decoration: none;
}

.previous-post-cover h4 {
    font-weight: bold;
    margin: 0 0 15px;
    color: #fff;
    opacity: .7;
    font-size: 16px;
}

.previous-post-cover h3 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
}

.previous-post-cover h3 span {
    border-bottom: 1px solid transparent;
}

.previous-post-cover h3:hover span {
    border-bottom: 1px solid #fff;
    transition: 0.2s ease all;
}

.previous-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
    background-size: cover;
    background-position: center center;
    background-color: black;
    transition: 0.2s ease all;
}

.previous-post-cover:hover .previous-cover {
    opacity: .4;
}

.previous-info {
    margin: 0;
    z-index: 1;
    padding: 10% 5%;
    min-height: 250px;
    position: relative;
}

.previous-content {
    position: relative;
    z-index: 50;
    max-width: 1400px;
    margin: 0 auto;
}


.portfolio-preloader {
    display:none;
    justify-content:center;
    align-items:center;
    padding:20px 100px 170px;
}






@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}


@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  > div {
    background-color: #444;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    -o-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}


.tiled-gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


/* Background video in single post  */

.single-portfolio_item .is-vimeo-pro-slide iframe,
.single-post .is-vimeo-pro-slide iframe {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
 }

.single-post .has-post-cover .entry-cover {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

.single-post .display-none {
    display: none; }

/* Background video in single page */

.page .is-vimeo-pro-slide iframe {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
 }


.page .has-post-cover .entry-cover {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }

.page .display-none {
    display: none; }

/* Background overlay in single page and post */
.single-post .slide-background-overlay,.page .slide-background-overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20; }