html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {margin: 0; padding: 0; overflow-x:hidden;}

body {
  margin: 0;
  padding: 0;
  font-family: $font__main;
  font-size: 16px;
  font-weight: normal;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  line-height: 1.8;
  color: #444;

  &.noscroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

.wrap,
.inner-wrap {
  max-width: 1200px;
  margin: 0 auto;
}


.inner-wrap:before,
.inner-wrap:after {
    content: " ";
    display: table;
}

.inner-wrap:after {
    clear: both;
}


#main {
    // padding-top: 79px;
}

#main.portfolio-with-post-cover,
#main.blog-with-post-cover,
#main.page-with-cover {
    padding-top: 0;
}


.hb-people-wrapper select {
    height: 44px;
    border-width: 2px;
}

.hb-booking-search-form h3 { display: none; }

.home .builder-wrap .widget { margin-bottom: 0; }


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Portfolio
--------------------------------------------------------------*/
@import "primary/portfolio";

/*--------------------------------------------------------------
## Editor blocks
--------------------------------------------------------------*/
@import "primary/blocks";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";